
ul{
    list-style-type:none;
}
.navigation{
    display:flex;
    width:100%;
    justify-content:space-around;
    background-color:green;
    color:antiquewhite;
    padding:20px;
    margin:0;
}
.navigation li{
    color:white;
    font-size:18px;
    font-weight:bold;
}

.tiles{
    border:1px solid green;
    margin:10px;
    padding:10px;
}

.buttons{
    display:flex;
    gap:10px;
    margin:10px 0px;
}

.tiles button{
    background-color:green;
    color:white;
    border:none;
    width:fit-content;
    height:2vw;
    font-size:16px;
    color:white;
}